.multi-item {
  position: relative;
  padding: 0 80px;
  margin-bottom: 25px;
  margin-top: 20px;
  color: #fff;
}

.slider {
  display: flex;
  column-gap: 29px;
}

.arrow-left {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 30px;
  background-color: rgba(204, 204, 204, 0.083);
  height: 80%;
  width: 50px;
  opacity: 0;
}

.arrow-left:hover {
  opacity: 1;
}

.arrow-right {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 30px;
  background-color: rgba(204, 204, 204, 0.083);
  height: 80%;
  width: 50px;
  opacity: 0;
}

.arrow-right:hover {
  opacity: 1;
}
