.type-head {
  margin-left: 80px;
  color: #fff;
}

.multi-item {
  width: 100%;
  position: relative;
  padding: 0 80px;
  margin: 20px 0;
  color: #fff;
}

.slider {
  display: flex;
  column-gap: 29px;
}

.arrow-left {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 30px;
  background-color: rgba(204, 204, 204, 0.083);
  height: 100%;
  width: 50px;
  opacity: 0;
  cursor: pointer;
  border-radius: 10px;
}

.arrow-left:hover {
  opacity: 1;
}

.arrow-right {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 30px;
  background-color: rgba(204, 204, 204, 0.083);
  height: 100%;
  width: 50px;
  opacity: 0;
  cursor: pointer;
  border-radius: 10px;
}

.arrow-right:hover {
  opacity: 1;
}
