html,
body {
  background-color: #141414 !important;
  font-family: "Kanit", sans-serif !important;
}

.App {
  position: relative;
}

.list {
  position: absolute;
  top: 90vh;
  background-color: #141414b3;
}
