.my-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  color: #ccc;
  width: 100%;
  font-weight: 300;
  margin-top: 160px;
}

.my-footer-icon {
  display: flex;
  column-gap: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.my-footer-member {
  width: 100%;
  margin-bottom: 40px;
}

.my-footer-member ul {
  padding-left: 0;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.my-footer-member li {
  list-style-type: none;
}
.my-footer-member a {
  text-decoration: none;
  color: #ccc;
}

.my-footer-member li :hover {
  color: #fff;
}
