.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  position: fixed;
  bottom: 0;
  color: #ccc;
  width: 100%;
  font-weight: 300;
  padding: 40px;
}

.footer-icon {
  display: flex;
  column-gap: 40px;
  width: 100%;
}

.footer-member {
  width: 100%;
}

.footer-member ul {
  padding-left: 0;
  display: flex;
  column-gap: 30px;
}
.footer-member li {
  list-style-type: none;
}
.footer-member a {
  text-decoration: none;
  color: #ccc;
}
